# Cache files
.ipynb_checkpoints/
__pycache__/

# Virtual environment for IDE intelisense
venv/

# Environment variables
.env

# Ignore data
**/data/*

# Ignore models
**/models/*

# Allow all readme files
!readme.md